In [1]:
import pandas as pd

# Step 1: Read JSON data
with open('yelp_academic_dataset_business.json', 'r') as file:
    json_data = file.read()

# Step 2: Convert to DataFrame
data_df = pd.read_json('yelp_academic_dataset_business.json', lines=True)

In [2]:
data_df.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [6]:
cleaned = data_df[data_df['is_open'] == 1][['business_id', 'state', 'stars', 'categories']]
cleaned

,business_id,state,stars,categories
1,mpf3x-BjTdTEA3yCZrAYPw,MO,3.0,"Shipping Centers, Local Services, Notaries, Ma..."
3,MTSW4McQd7CbVtyjqoe9mw,PA,4.0,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,PA,4.5,"Brewpubs, Breweries, Food"
5,CF33F8-E6oudUQ46HnavjQ,TN,2.0,"Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
6,n_0UpQx1hsNbnPUSlodU8w,MO,2.5,"Sporting Goods, Fashion, Shoe Stores, Shopping..."
...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,AB,3.0,"Nail Salons, Beauty & Spas"
150342,c8GjPIOTGVmIemT7j5_SyQ,TN,4.0,"Pets, Nurseries & Gardening, Pet Stores, Hobby..."
150343,_QAMST-NrQobXduilWEqSw,IN,3.5,"Shopping, Jewelry, Piercing, Toy Stores, Beaut..."
150344,mtGm22y5c2UHNXDFAjaPNw,IL,4.0,"Fitness/Exercise Equipment, Eyewear & Optician..."
150345,jV_XOycEzSlTx-65W906pg,FL,4.5,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo"

In [14]:
cleaned['categories'].str.split(', ').explode().value_counts()[:25]

categories
Restaurants                  34987
Food                         20419
Shopping                     20186
Home Services                13322
Beauty & Spas                12263
Health & Medical             11046
Local Services               10138
Automotive                    9879
Nightlife                     8379
Event Planning & Services     8173
Bars                          7528
Active Life                   6496
Sandwiches                    6075
American (Traditional)        5531
Fast Food                     5516
Hotels & Travel               5123
Pizza                         5090
Home & Garden                 5022
Auto Repair                   5003
Coffee & Tea                  4954
Fashion                       4432
Breakfast & Brunch            4415
Arts & Entertainment          4370
Burgers                       4275
Hair Salons                   4185
Name: count, dtype: int64

In [19]:
cleaned.iloc[0]['categories'].lower()

'shipping centers, local services, notaries, mailbox centers, printing services'

In [22]:
def categorize(x):
    if x is None:
        return 'Other'
    x = x.lower()
    if ('restaurants' in x) or ('food' in x) or ('bar' in x):
        return 'Restaurants'
    elif ('shopping' in x) or ('fashion' in x):
        return 'Shopping'
    elif 'home services' in x:
        return 'Home Services'
    elif ('beauty & spas' in x) or ('hair salons' in x):
        return 'Beauty & Spas'
    elif 'health & medical' in x:
        return 'Health & Medical'
    elif ('automotive' in x) or ('auto repair' in x):
        return 'Automotive'
#     elif ('bars') (and nightlife
    elif 'hotel' in x:
        return 'Hotels & Travel'
    else:
        return 'Other'

In [24]:
cleaned['category'] = cleaned['categories'].apply(categorize)
cleaned.head(5)

,business_id,state,stars,categories,category
1,mpf3x-BjTdTEA3yCZrAYPw,MO,3.0,"Shipping Centers, Local Services, Notaries, Ma...",Other
3,MTSW4McQd7CbVtyjqoe9mw,PA,4.0,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",Restaurants
4,mWMc6_wTdE0EUBKIGXDVfA,PA,4.5,"Brewpubs, Breweries, Food",Restaurants
5,CF33F8-E6oudUQ46HnavjQ,TN,2.0,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",Restaurants
6,n_0UpQx1hsNbnPUSlodU8w,MO,2.5,"Sporting Goods, Fashion, Shoe Stores, Shopping...",Shopping

In [25]:

# Step 3: Save as CSV

# data_df.to_csv('yelp_academic_dataset_business.csv', index=False)
cleaned.to_csv('cleaned_yelp_dataset_business.csv', index=False)

print("Conversion completed. CSV file saved successfully.")

Conversion completed. CSV file saved successfully.